{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django Blogs</title>
    <link href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">
    <link href="{% static 'css/blog.css' %}" rel="stylesheet">
</head>

<body>
    <div class="container">
        <header class="blog-header py-3">
            <div class="row flex-nowrap justify-content-between align-items-center">
                <div class="col-8 pt-1">
                    <a class="blog-header-logo text-dark" href="/">Sports Info</a>
                </div>
        </header>



        
           <div class="jumbotron p-3 p-md-5 mt-5 text-white d-flex justify-content-center rounded"
                style="background-image: url({% static 'images/404_page_cover.jpg' %});background-size:cover;min-height:750px ">
                <div class="px-0">
                    <h1 class="display-4 font-italic text-primary "></h1>
                </div>
            </div>
       
    </div>
    <footer class="blog-footer fixed-bottom">
        <p>Django blog built by <a href="#">Lakshana Gopalakrishnan</a></p>
    </footer>
</body>

</html>