
{% extends 'base.html' %}
{% block content %}
      
       <!-- Category Posts -->
        <h3 class="text-uppercase text-warning" style="letter-spacing:2px">Category - {{category}}</h3>
       
        <div class="row mb-2">
            {% if posts %}
            {% for post in posts %}
                <div class="col-md-6">
                    <div class="card border-0">
                        <div class="card-body">
                            <h3>{{post.title}}</h3>
                            <small class="mb-1 text-muted">{{post.created_at | timesince}} ago | {{post.author}}</small>
                            <p class="card-text">{{post.short_description | truncatewords:25}}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
            {% else %}
            <div class="jumbotron mt-5 text-white w-100 text-center  rounded">
                <div class="px-0">
                    <h1 class="font-italic text-primary ">No Posts Found</h1>
                </div>
            </div>
       
            {% endif %}
        </div>

   

    {% endblock %}
   